In [5]:
print('hello')

hello

hi this is a simple textsbkbbwbohownbbon
- hello
- hi

Write a hello world program

In [ ]:
esc + M         # to write a normal text
esc + Y         # to write a code under a cell
shift + enter   # run the cell
- # to print pointers
#   heading
##

# Heading

## sub-heading

#, ##, ###, ####, #####, ######

###### paragraph

# Module_10_Tuples

In [11]:
tup1 = ('cat','bat',1)
print(tup1)

('cat', 'bat', 1)

In [12]:
type(tup1)

tuple

In [13]:
len(tup1)

3

In [18]:
tup1[-3]

'cat'

In [ ]:
tup2 = ('cat','bat',1, )

In [19]:
tup3 = 1    #is not a TUPLE

In [20]:
type(tup3)

int

In [21]:
tup3 = (1)    # is not a single value tuple

In [22]:
type(tup3)

int

In [23]:
tup3 = ('string',)   # is a tuple

In [24]:
type(tup3)

tuple

In [25]:
tup3 = (1,'string',)

In [26]:
type(tup3)

tuple

## Slicing

In [27]:
tup4 = ('sachin', 'shubham','rahul', 1, 1.5, True)

In [28]:
type(tup4)

tuple

In [ ]:
tuple_name[start:end:step]     #syntax of slicing

In [31]:
tup4[0:2]

('sachin', 'shubham')

In [32]:
tup4[1:4]

('shubham', 'rahul', 1)

In [33]:
tup4[3:]

(1, 1.5, True)

In [34]:
tup4[-3:]

(1, 1.5, True)

In [37]:
tup4[::2]

('sachin', 'rahul', 1.5)

In [39]:
tup4[2::3]

('rahul', True)

## Concatenating/Joining Tuples

In [41]:
tup1

('cat', 'bat', 1)

In [43]:
tup3

(1, 'string')

In [44]:
tup5 = tup1 + tup3

In [45]:
tup5

('cat', 'bat', 1, 1, 'string')

In [47]:
tup6 = ('India', 'Japan', "USA", "Australia")

tup7 = tup6[0:3] + tup5[-2:] + ('anything','nothing')

print(tup7)

('India', 'Japan', 'USA', 1, 'string', 'anything', 'nothing')

## Nested Tuples

In [48]:
tup8 = ('India', 'Japan', 'USA', 1, ('string', 'anything',('kuchbhi',1, 45, "hi")), 'nothing')
tup8

('India', 'Japan', 'USA', 1, ('string', 'anything'), 'nothing')

In [50]:
tup8[4][1]

'anything'

In [56]:
T = (1,4,'disco', ('python', "java"))
T[3][1]

'java'

## Packing & Unpacking

In [57]:
tup9 = (1,2,3,'name')   #packing
tup9

(1, 2, 3, 'name')

In [63]:
(a,b,c,d) = tup9      #unpacking of tuples

In [64]:
a

1

In [65]:
d

'name'

In [66]:
x = 10
y = 15

#Swapping
c = y
y = x
x = c
print(x,y)

15 10

In [68]:
x,y = 10,15

(x,y) = (y,x)  #unpacking
print(x,y)

15 10

In [74]:
list1 = [1,2,3,4,5,6]

thisistuple = tuple(list1)   #using a tuple() constructer

In [75]:
type(thisistuple)

tuple