# Python Sets

In [1]:
mylist = [1,2,3,4, False, "sumit"]   #list
mylist[2]

3

In [2]:
myset = {1,2,3,4, False, "sumit"}   #sets are created using curly brackets
type(myset)

set

In [3]:
len(myset)   # len() methof gives the number of elements present in the 'myset' variable

6

In [4]:
myset[2]    # it will give error; sets cannot be indexed because they are unordered

TypeError: 'set' object is not subscriptable

In [5]:
mylist1 = ["python", "is", "awesome"]    
#list elements are stored in the same fashion as given

mylist1

['python', 'is', 'awesome']

In [6]:
myset1 = {"python", "is", "awesome"}
#set elements are not stored in the same fashion as given

myset1

{'awesome', 'is', 'python'}

In [7]:
myset2 = {1,2,2,3,4,5,5}    #duplicates values are ignored in set
myset2

{1, 2, 3, 4, 5}

We can explicitly define a set data type by using the **set()** constructer

In [8]:
myset3 = set(("my", "name","is","bhupendra"))  #defining a set using a set constructer
type(myset3)

set

## Access Items In SETS

In [9]:
myset3 = set(("my", "name","is","bhupendra"))

if 'bhupendra' in myset3:   #if the name 'bhupendra' is present there print 'yes' else 'No'
    print("yes")
else:
    print("No")

yes

## Remove Set Items

- **remove()** : will remove the passed element if it is present in the set variable else it will throw error. <br>
- **discard()**: will remove the passed element if it is present in the set variable else but it **will not throw error if the passed element is not present** in the set variable. <br>

In [10]:
myset4 = {'mango', 'apple','banana'}

myset4.remove("banana")

print(myset4)

{'mango', 'apple'}

In [11]:
myset4

{'apple', 'mango'}

In [12]:
myset4.remove('pineapple')   #'pineapple' is not present hence it will not throw error while using 'remove() method'

KeyError: 'pineapple'

In [13]:
myset4.discard('pineapple')   # using 'discard()' method will not throw any error

In [14]:
myset4.discard('mango')
myset4

{'apple'}

## pop()

In [15]:
myset5 = {'mango', 'apple','banana','pineapple'}
myset5.pop()     # remove the last element inserted
myset5

{'apple', 'banana', 'pineapple'}

In [16]:
myset5.clear()    # it empties the set

In [17]:
myset5

set()

In [18]:
del myset5    # it deletes the complete dictionary

In [19]:
myset5       # myset5 does not exist hence it will throw error

NameError: name 'myset5' is not defined

## Loop through SET items

In [20]:
myset6 = {'tata','honda','mahindra','maruti','toyota'}

for x in myset6:  
    print(x)

toyota
mahindra
honda
maruti
tata

## Join Two Sets

In [21]:
myset7 = {'MG','Hyundai','Ultraviolette', 'tata'}

join_set = myset6.union(myset7)   # get all the values in both the sets; duplicate values are taken as one.

join_set

{'Hyundai',
 'MG',
 'Ultraviolette',
 'honda',
 'mahindra',
 'maruti',
 'tata',
 'toyota'}

In [22]:
myset6.update(myset7)

In [23]:
myset6

{'Hyundai',
 'MG',
 'Ultraviolette',
 'honda',
 'mahindra',
 'maruti',
 'tata',
 'toyota'}

In [24]:
myset7

{'Hyundai', 'MG', 'Ultraviolette', 'tata'}

In [25]:
myset4

{'apple'}

In [26]:
myset7.update(myset4)  # update myset7 with the values stored in myset4

In [27]:
myset7

{'Hyundai', 'MG', 'Ultraviolette', 'apple', 'tata'}

Union() & Update() will exclude any  duplicates values.

In [28]:
myset7.update(("abcdaa"))

In [29]:
myset7

{'Hyundai', 'MG', 'Ultraviolette', 'a', 'apple', 'b', 'c', 'd', 'tata'}

In [30]:
myset8 = {'sachin','shubham','sumit'}
myset9 = {'rahul','satyam','imran','shubham'}

In [31]:
# intersection of myset8 & myset9

myset8.intersection_update(myset9)   # update the common values in a set variable
myset8

{'shubham'}

In [32]:
myset8

{'shubham'}

In [33]:
myset9

{'imran', 'rahul', 'satyam', 'shubham'}

In [34]:
x = myset8.intersection(myset9)   # intersection return a new set which can be stored in a new variable
print(x)

{'shubham'}

In [35]:
y = myset8.intersection_update(myset9)    # intersection_update is not returning a new set, so you cannot store it in a new variable
print(y)

None

## Keep All, But NOT the Duplicates

The **symmetric_difference_update()** method will keep only the elements that are NOT present in both sets.

In [36]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)    # 'apple' will not be in our final set; since its common in both the sets.

print(x)

{'microsoft', 'cherry', 'banana', 'google'}

## Assignment :

Q-1: Use the **add** method to add 'orange' to the *fruits* sets.

In [3]:
fruits = {'apple', 'banana','cherry'}
fruits.add("orange")
print(fruits)

{'orange', 'banana', 'cherry', 'apple'}

Q-2: Use the correct method to add multiple items(**more_fruits**) to the *fruits* set.

In [4]:
fruits = {'apple', 'banana','cherry'}
more_fruits = ['orange','mango','grapes']
fruits.update(more_fruits)

In [5]:
fruits

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

Q-3: Use the **discard** & **remove** method to remove 'banana' from the *fruits* set

In [6]:
fruits = {'apple', 'banana','cherry'}
fruits.remove('banana')
print(fruits)

{'cherry', 'apple'}